/* Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: rgb(189, 189, 189);
  display: grid;
  place-content: center;
  font-family: Arial, sans-serif;
}

/* Book Display */
.bookDisplay {
  display: grid;
  padding: 2rem;
  background-color: #fff;
  width: 40vw;
  height: 30vw;
  gap: 1rem;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.bookDisplay .container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: 1rem;
}

.bookDisplay .container ul {
  display: grid;
  grid-auto-rows: minmax(2rem, auto);
  overflow-y: auto;
}

/* Button Styles */
.bookDisplay .container .showBookDialogButton {
  width: 7rem;
  height: 2.5rem;
  background: transparent;
  border: 2px solid rgb(59, 127, 51);
  border-radius: 10px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  justify-self: end;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.bookDisplay .container .showBookDialogButton:hover {
  transform: translateY(-5px);
}

.readStatus{
  border: none;
  background-color: grey;
  color: white;
  padding: 0.5rem;
  cursor: pointer;
  border-radius: 5px;
}

.remove {
  border: none;
  background-color: red;
  color: white;
  padding: 0.5rem;
  cursor: pointer;
  border-radius: 5px;
};




/* Dialog Styles */
.bookDisplay dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  border: none;
  border-radius: 12px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
  padding: 2rem;
}

/* Form Styles */
form div {
  margin-bottom: 1rem;
}

form div label {
  display: inline-block;
  width: 40%;
}

form div input {
  width: 60%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form button {
  margin-top: 2rem;
  margin-right: 1rem;
  padding: 0.8rem;
  border: none;
  border-radius: 10px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  width: 100px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

form .addToList {
  background-color: rgb(80, 97, 35);
  color: #fff;
}

form .addToList:hover {
  background-color: rgba(80, 97, 35, 0.8);
  color: #fff;
}

form .closeDialogButton {
  background-color: rgb(143, 43, 43);
  color: #fff;
}

form .closeDialogButton:hover {
  background-color: rgba(143, 43, 43, 0.8);
  color: #fff;
}